.header {
  background-color: #253B80;
  min-height: 5vh;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5vh 15vh 5vh 15vh;
  }

  .body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5vh 0vh 5vh 0vh;
  }

  button {
  background-color: #2997D8;
  min-height: 5vh;
  min-width: 10vh;
  font-size: 2vh;
  color: #ffffff;
  font-weight: bold;
  border-radius: 1vh;
  border-style: solid;
  border-color: transparent;
  }


